
*{
  font-family:"Josefin Sans"; 
}
body{
  margin: 0;
align-items: center;
justify-content: center;
min-height: 100vh;
}div{
  display: grid;
}
h1{
    
  text-align: center;
  margin-top: 100px ;
  font-family: "Josefin Sans";
  font-size: 50px;
}
h2{
  text-align: center;
  margin-bottom: 0;
  font-size: 40px;
  
}
h3{
  text-align: center;
  color: black;
}
p{
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 20px;
}
/* ==============================================NAVBAR=============================================================== */
.navbar{
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 0%;
  z-index: 1000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
li {
  display: inline;
  float: left;
  font-family: "Josefin Sans";

}
li a:hover {
  background-color: #565c69a1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  margin-left: 80px;
  margin-right: 80px;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
}

.nav-link:hover{
  color: #482ff7;
}

@media only screen and (max-width: 981px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 0rem;
      flex-direction: column;
      background-color: #ffffff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      margin-left: 10px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  /* ==========================================HOME=============================================================== */ 

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
.home{
  color: #4A55A2;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.home::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}


.bgimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  size: 100px;
}
.int {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  position: relative;
  letter-spacing: 2px;
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 800ms infinite;
  color: black;
}
.int2{
  color: black;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 850px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
@media only screen and (max-width: 981px) {
  .bgimg {
    width: 80%; 
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  .int {
    font-size: 40px; 
  }.int2{
    font-size: 10px;
  }
}




  /* ==========================================ABOUT=============================================================== */ 

  
  .about{
    background-color: #AA96DA;
    background-size: cover;
  }
  .myself {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.para1{
    margin-top: 100px;
}

.carousel-wrapper {
  width: 520px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 10px auto 20px;
  background-color: #CDF0EA;
  background-size: cover;
}
.carousel-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel {
  display: flex;
  width: 1200px;
  animation: sliding 10s infinite;
}
.carousel div {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.carousel:hover {
animation-play-state: paused;
}
.carousel-wrapper:hover{
cursor: pointer;
transform: scale(1.04);
}

@keyframes sliding {
  30% {
    transform: translateX(0);
 }
  35% {
    transform: translateX(-400px);
 }
  65% {
    transform: translateX(-400px);
 }
  70% {
    transform: translateX(-800px);
 }
  98% {
    transform: translateX(-800px);
 }
  100% {
    transform: translateX(0);
 }
}
.edu-img{
  height:125px;
  width:125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .edu-para{
  margin-top: 20px;
  }
  @media screen and (max-width: 981px) {
    .carousel-wrapper {
      width: 312px;
      height: 250px;
    }
    .carousel-container {
      width: 312px;
      height: 220px;
      overflow: hidden;
      margin: 0 auto;
    }
    .carousel {
      width: 936px; 
      display: flex;
      animation: sliding 10s infinite;
    }
    .carousel > div {
      width: 312px; 
      height: 170px;
      display: flex;
    }
    .edu-img {
      height: 120px;
      width: 120px;
      margin-top: 0%;
    }
    .edu-para {
      font-size: 15px;
      margin-top: 0;
    }
    @keyframes sliding {
      0% {
        transform: translateX(0);
      }
      30% {
        transform: translateX(0); 
      }
      35% {
        transform: translateX(-312px); 
      }
      65% {
        transform: translateX(-312px);
      }
      70% {
        transform: translateX(-624px); 
      }
      98% {
        transform: translateX(-624px); 
      }
      100% {
        transform: translateX(0);
      }
    }
  }

.button-d {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #CDF0EA;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-d:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  color: #101010;
}

.button-d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
.resume{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 981px) {
  .bgimg {
    width: 80%; 
  }
  .my-head {
    font-size: 30px; 
  }.my-para{
    font-size: 15px;
  }.topic{
    font-size: 24px;
  }
}

    /* ==========================================SKILLS=============================================================== */ 




  .skills{
    background-color: #82AAE3;
    background-size: cover;
    
  }
  .skills-p {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 25px;
    box-shadow: 5px 5px 25px 0px rgba(46, 73, 56, 0.922);
    background-color: #CADEFC;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 550px;
    padding: 10px;
  }
  .skill-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
  }
  .my-skills{
    text-align: center;
    height: 110px;
    width: 110px;
    border-radius: 25px;
    background: #A8D8EA;
    padding: 10px;
    box-shadow: 5px 5px 25px 0px rgba(46, 73, 56, 0.922);
  }
  .my-skills:hover{
    cursor: pointer;
    transform: scale(1.08);
  }
  @media only screen and (max-width: 981px) {
    .skills-p {
      grid-template-columns: auto;
      width: 80%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .my-skills {
      width: 110px;
      height: 110px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* =========================================PROJECTS================================================================== */
  .Projects{
    background-color: #0079FF;
  }
  .project-img{
    
    margin-top: 10px;
    width: 520px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
  .carousel-wrapper-2 {
    width: 720px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    margin: 10px auto 20px;
    background-color: #FFE79B;
    background-size: cover;
  }
  .carousel-container-2 {
    width: 560px;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
  }
  .carousel-2 {
    display: flex;
    width: 1500px;
    animation: sliding-2 10s infinite;
  }
  .carousel-2 div {
    width: 560px;
    height: 650px;
    background-size: cover;
    background-position: center;
  }
  .carousel-2:hover {
  animation-play-state: paused;
  }
  .carousel-wrapper-2:hover{
  cursor: pointer;
  transform: scale(1.04);
  }
  
  @keyframes sliding-2 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-560px);
    }
    80% {
      transform: translateX(-560px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  
  
  @media screen and (max-width: 981px) {
    .carousel-wrapper-2 {
      width: 500px;
      height: 600px;
      align-items: center;
   }
    .carousel-container-2 {
      width: 500px;
      height: 500px;
      overflow: hidden;
      
   }
    .carousel-2 {
      width: 1000px;
      display: flex;
      animation: sliding-2 10s infinite;
   }
    .carousel-2 > div  {
      width: 500px;
      height: 300px;
      display: flex;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
   }
   
   .project-img{
    margin-top: 10px;
    width: 360px;
    height: 200px;
  }
   @keyframes sliding-2 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-500px);
    }
    80% {
      transform: translateX(-500px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  .p-title{
    font-size: 24px;
  }
  .p-title2{
    font-size: 20px;
  }.project-para{
    font-size: 10px;
  }
  }
  .button-89 {
    --b: 3px;   
    --s: .45em; 
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    cursor : pointer;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }

  .links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px ;
  }
  /* ==========================================CONTACTS=============================================================== */ 
 .soc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
 }
 .soc:hover{
  transform: scale(1.04);
 }
 .social{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
    margin-top: 50px;
 }
 .Contacts{
  background-color: #FE6244;
  background-size: cover;
 }
 @media only screen and (max-width: 981px) {
  .soc {
    width: 60px;
    height: 60px;
  }
  .social {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
.mail{
  color: black;
text-decoration: none;
}

